body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}
    
.logo img {
    height: 50px;
}

/* Navigation Bar */
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0 20px;
}

.nav-list li {
    position: relative;
    margin-left: 10px;
}

.nav-list a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.nav-list .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #444;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;
    width: 280px;
    border: 1px solid #555;
    transition: background-color 0.3s ease;
}

.nav-list li:hover > .dropdown {
    display: block;
}

#profile-link:hover > .dropdown {
    left: auto;
    right: 0;
}

#profile-dropdown li:hover > .dropdown {
    left: auto;
    right: 100%;
    top: 0;
    background-color: #555;
    border: 1px solid #666;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Styling for nested dropdown links */
.nav-list .dropdown li {
    width: auto;
}

.nav-list .dropdown a {
    padding: 10px 15px;
    display: block;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 0.3s ease; /* Smooth hover transition */
}

.nav-list .dropdown a:hover {
    background-color: #666;
}

#profile-dropdown .dropdown a:hover {
    background-color: #777;
}

#profile-dropdown li:hover > .dropdown {
    background: linear-gradient(90deg, #555, #666); /* Gradient effect for nested dropdowns */
}

.nav-list li:hover > a {
    background-color: #555;
    transition: background-color 0.3s ease;
}

/* Hamburger Menu */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
    z-index: 1001;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: white;
}


/* Responsive Design */
@media (max-width: 700px) {
    .nav-list {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        width: 100%;
        z-index: 1000;
        padding: 10px 0;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li {
        width: 100%;
    }

    .nav-list a {
        padding: 10px 20px;
        width: 100%;
        text-align: left;
    }

    .nav-list .dropdown {
        position: static;
        background-color: #444;
        margin-top: 5px;
        border-radius: 0;
        box-shadow: none;
        width: 100%;
    }

    .nav-list .dropdown a {
        padding: 10px 20px;
    }

    .hamburger {
        display: flex;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}


/* Global Box-Sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

/* Section Styling */
#home {
    flex: 1; /* Allow the section to grow and fill available space */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 50px;
    background-color: #f4f4f4;
    width: 100%; /* Ensure section takes full width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    position: relative; /* Ensure correct positioning */
    margin: 0; /* Remove any default margin */
}

/* Main content should take all available space except the footer */
main {
    flex: 1;
}

#home h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

#home p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

#home button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

#home button:hover {
    background-color: #555;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Ensure footer spans full width */
    margin: 0; /* Remove any default margin */
    position: relative; /* Ensure correct positioning */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 0px;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
}

.footer-left {
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin-left: 0px;
    padding-right: 10px;
    flex: 1 1 20%; /* Take full width on smaller screens */
    min-width: 200px; /* Ensure columns don't get too narrow */
    justify-content: left; /* Center align content */
    text-align: center; /* Center align text */
    margin-right: 45px;
}

.footer-logo {
    margin-right: 20px;
}

.footer-logo img {
    height: 50px;
    margin-left: 0;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align content */
}

.social-media p {
    margin: 10px 0;
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease; /* Smooth transition for hover effect */
}

.social-icons img:hover {
    transform: translateY(-5px); /* Levitating effect */
}

.footer-right {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    flex: 1 1 70%; /* Take approximately two-thirds of the width */
    text-align: center; /* Center align text */
    align-items: right;
    padding: 0 0px;
}

.footer-column {
    flex: 1;
    min-width: 150px; /* Adjust this value as needed */
    margin: 10px;
    text-align: left; /* Align text to the left */
}


.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    text-align: left; /* Align text to the left */
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column ul li a {
    color: #bfbfbf;
    text-decoration: none;
}

.footer-column ul li a:hover {
    color: #fff;
}

.footer-bottom {
    margin-top: 20px;
    text-align: center;
    width: 100%; /* Ensure footer-bottom spans full width */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
    padding: 0; /* Remove any default padding */
}

/* Responsive Design */
@media (max-width: 1080px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .footer-left {
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 40px;
    }

    .footer-right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column: span 2;
        gap: 0 20px;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .footer-column {
        margin: 0;
        flex: 1 1 100%;
        text-align: center;
    }

    .footer-column li {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .footer-left {
        order: 1;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        padding-left: 40px;
    }

    .footer-right {
        order: 2;
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        flex: 1 1 70%;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .footer-column {
        margin: 10px 0;
        flex: 1 1 100%;
        text-align: center;
    }
}

/* About Us Style */
#about-us {
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about-us h2 {
    font-size: 2.0rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#about-us h3 {
    font-size: 1.6rem;
    color: #333;
}

#about-us .container {
    max-width: 1000px;
    margin: 0 auto;
}

#mission,
#vision {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

#mission-text,
#vision-text {
    flex: 1;
    padding: 20px;
}

#mission-text p,
#vision-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}

#mission-image,
#vision-image {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    min-width: 200px;
}

#mission-image img,
#vision-image img {
    width: 100%;
    height: auto;
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

#values-title {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

#values-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.value-item {
    text-align: center;
    flex: 1;
    min-width: 200px;
}

.value-item p {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
}

.value-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.values-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

/* Responsive Design */
@media (max-width: 768px) {
    #mission,
    #vision {
        flex-direction: column;
    }

    #mission-text,
    #vision-text,
    #mission-image,
    #vision-image {
        padding: 10px 0;
    }

    #mission-text,
    #vision-text {
        order: 1;
    }

    #mission-image,
    #vision-image {
        order: 2;
    }
}

/* Contact Us Style */
#contact-us {
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    max-width: 1200px;
    margin: 10px auto;
    text-align: center;
}

#contact-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.contact-box {
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 25px;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.contact-box:hover {
    transform: translateY(-5px);
}

.contact-box h2 {
    font-size: 1.4rem;
    color: #333;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contact-box p {
    font-size: 1rem;
    color: #666;
}

.icon {
    color: #007BFF;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    #contact-block {
        flex-direction: column;
        gap: 20px;
        align-content: center;
    }

    .contact-box {
        width: 100%;
        max-width: 400px;
    }
}

/* Contact Us Style */
#contact-us {
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#contact-us h2 {
    font-size: 2.0rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 60px;
    color: #333;
}

#contact-us h3 {
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

#contact-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.contact-box {
    background-color: #fff;
    border: 2px solid #ddd;
    padding: 25px;
    width: 280px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.contact-box:hover {
    transform: translateY(-5px);
}

.contact-box h2 {
    font-size: 1.6rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.contact-box p {
    font-size: 1.1rem;
    color: #555;
}

.icon {
    color: #007BFF;
    font-size: 1.2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    #contact-block {
        flex-direction: column;
        gap: 20px;
        align-content: center;
    }

    .contact-box {
        width: 100%;
        max-width: 400px;
    }
}

/* Terms and Conditions Style */
#terms {
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#terms h2 {
    font-size: 2.0rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#terms h3 {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: left;
    padding-top: 40px;
    margin-bottom: 20px;
    color: #333;
}

#last-updated {
    text-align: center;
    font-size: 1.1rem;
    color: #555;
    margin-top: 20px;
}

#terms-header {
    font-size: 1.2rem;
    padding-top: 30px;
    font-weight: bold;
    color: #333;
}


#terms-text ol li {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #555;
    text-align: left;
}

/* Responsive Design */
@media (max-width: 768px) {
    #terms {
        padding: 40px 20px;
    }

    #terms h2 {
        font-size: 2rem;
    }

    #terms-header {
        font-size: 1.1rem;
        padding-left: 20px;
    }

    #terms-text ol {
        margin-left: 20px;
    }

    #terms-text ol li {
        font-size: 1rem;
        text-align: left;
    }
}

/* Privacy Policy Style */  
#privacy-policy {
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#privacy-policy h2 {
    font-size: 2.0rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

#privacy-policy h3 {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: left;
    padding-top: 40px;
    margin-bottom: 20px;
    color: #333;
}

#last-updated {
    text-align: center;
    font-size: 1.1rem;
    color: #555;
    margin-top: 20px;
}

#privacy-header {
    font-size: 1.2rem;
    padding-top: 30px;
    font-weight: bold;
    color: #333;
}

#privacy-text ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
    color: #555;
    text-align: left;
}

/* Resources Styling */
#resources {
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Title */
#resources h2 {
    font-size: 2.0rem;
    font-weight: 700;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

/* Description */
#resources p {
    font-size: 1.2rem;
    text-align: center;
    color: #666;
    margin-bottom: 40px;
}


/* Columns */
.resource-columns {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; /* Ensure columns wrap on smaller screens */
}

.resource-column {
    width: 48%;
    text-align: center;
}

/* Section Headings */
#resources h3 {
    font-size: 1.6rem;
    font-weight: 600;
    color: #2d2d2d;
    margin-bottom: 20px;
    padding-left: 10px;
}

/* Links */
.resource-column ul {
    list-style-type: none;
    padding: 0;
}

.resource-column ul li {
    margin-bottom: 15px;
}

/* Links Styling */
.resource-column ul li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #0077cc;
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.resource-column ul li a:hover {
    background-color: #0077cc;
    color: #fff;
}

@media (max-width: 768px) {
    #resources {
        padding: 20px;
    }

    /* Vertical column on small screens */
    .resource-columns {
        flex-direction: column;
        gap: 20px;
    }

    .resource-column {
        width: 100%;
    }

    #resources h2 {
        font-size: 2rem;
    }

    #resources p {
        font-size: 1rem;
    }

    .resource-column ul li {
        margin-bottom: 10px;
    }

    .resource-column ul li a {
        font-size: 1.1rem;
        padding: 12px;
    }
}

/* FAQ Styles */
#faq {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#faq h2 {
    font-size: 2.0rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

/* FAQ Container */
.faq-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    width: 100%;
}

/* FAQ Question/Item */
.faq-item {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.faq-item:hover {
    background-color: #e1e1e1;
}

.faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
}

.dropdown-arrow {
    font-size: 1.5rem;
    transition: transform 0.3s;
    position: relative;
    color: #3f3f3f;
}

.dropdown-arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: #e1e1e1;
}

/* FAQ Answer Closed */
.faq-answer {
    display: none;
    margin-top: 10px;
    font-size: 1.1rem;
    color: #555;
    padding-left: 20px;
    transition: max-height 0.3s ease, padding 0.3s ease;
    max-height: 0;
    overflow: hidden;
}

/* FAQ Answer Open */
.faq-item.open .faq-answer {
    display: block;
    max-height: 200px;
    padding-left: 20px;
}

@media (max-width: 768px) {
    #faq {
        padding: 20px;
    }

    #faq h2 {
        font-size: 2rem;
    }

    .faq-container {
        grid-template-columns: 1fr;
    }

    .faq-question {
        font-size: 1.1rem;
    }

    .faq-answer {
        font-size: 1rem;
        padding-left: 10px;
    }

    .dropdown-arrow-wrapper {
        width: 25px;
        height: 25px;
    }

    .dropdown-arrow {
        font-size: 1.3rem;
    }
}

/* Sitemap Styles */
#sitemap {
    width: 100%;
    max-width: 1200px;
    margin: 10px auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    box-sizing: border-box;
}

/* Title */
#sitemap h2 {
    font-size: 2.0rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
}

/* Description Text */
#sitemap p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 40px;
}

/* Container */
.sitemap-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Image */
.sitemap-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    #sitemap {
        padding: 20px;
    }

    #sitemap h2 {
        font-size: 2rem;
    }

    #sitemap p {
        font-size: 1rem;
    }

    .sitemap-container {
        padding: 10px;
    }

    .sitemap-image {
        max-width: 100%;
        height: auto;
    }
}


/* Feeback */
.feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.feedback-container form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.feedback-container label {
    margin-bottom: 10px;
    font-weight: bold;
}

.feedback-container textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.submit-button {
    align-self: flex-end;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #0056b3;
}

.success-message {
    color: green;
    font-weight: bold;
    margin-bottom: 20px;
}